<div itemscope="" itemtype="http://schema.org/Person">
    <meta itemprop="gender" content="Male" />
    <meta itemprop="jobTitle" content="Full Stack Developer" />
    <meta itemprop="email" content="jeseromeroarbelo@gmail.com" />
    <meta itemprop="url" content="http://www.jeseromero.com" />
    <span itemprop="name" content="Jesé Romero Arbelo">
    <link
            itemprop="sameAs"
            href="https://es.linkedin.com/in/jese-romero-arbelo-97a2b4112"
    />
    <link itemprop="sameAs" href="https://twitter.com/jeseromero" />
  </span>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h4 class="card-title color-featured"><%= __('index.welcome.title') %></h4>
            <h5>
                <span id='welcome-subtitle'><%= __('index.welcome.subtitle') %></span>
            </h5>
        </div>
    </div>
</div>

<div id="skills-container" class="black-text">
    <section class="container">
        <div class="row">
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/react.png') %>" alt="react" />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/angular.png') %>" alt="angular" />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img
                        class="logo"
                        src="<%= url_for('images/logos/styled-components.png') %>"
                        alt="styled-components"
                />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/typescript.png') %>" alt="typescript" />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/flutter.png') %>" alt="flutter" />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/nodejs.png') %>" alt="nodejs" />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/android.png') %>" alt="android" />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/unity.png') %>" alt="unity" />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/gcloud.png') %>" alt="gcloud" />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/mongo.png') %>" alt="mongo" />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/python.png') %>" alt="python" />
            </aside>
            <aside class="col s4 m2 valign-wrapper">
                <img class="logo" src="<%= url_for('images/logos/java.png') %>" alt="java" />
            </aside>
        </div>
    </section>
</div>

<div id="what-i-am-doing" class="black-text">
    <section class="container">
        <h4 class="header"><%= __('index.work.title') %></h4>
        <div class="work">
            <p><%= __('index.work.p1') %></p>
            <p><%= __('index.work.p2') %></p>
            <p><%= __('index.work.p3') %></p>
            <div class="footer">
                <a target="_blank" rel="noreferrer noopener" href="https://www.genial.ly/en">
                    <img class="logo" alt="genially" src="<%= url_for('images/logos/genially.png') %>" />
                </a>
                <div class="social-networks">
                    <a
                            target="_blank"
                            rel="noreferrer noopener"
                            href="https://www.linkedin.com/company/geniallyofficial/"
                    >
                        <i class="icon fa fa-linkedin-square"></i>
                    </a>
                    <a
                            target="_blank"
                            rel="noreferrer noopener"
                            href="https://www.facebook.com/Geniallyofficial/"
                    >
                        <i class="icon fa fa-facebook-square"></i>
                    </a>
                    <a
                            target="_blank"
                            rel="noreferrer noopener"
                            href="https://twitter.com/genially_en?lang=ens"
                    >
                        <i class="icon fa fa-twitter-square"></i>
                    </a>
                    <a
                            target="_blank"
                            rel="noreferrer noopener"
                            href="https://www.instagram.com/genially_official/"
                    >
                        <i class="icon fa fa-instagram"></i>
                    </a>
                    <a
                            target="_blank"
                            rel="noreferrer noopener"
                            href="https://www.youtube.com/channel/UCtq6w3zpUc5tQYEC6Q8pImg"
                    >
                        <i class="icon fa fa-youtube-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="main-projects" class="container">
    <section>
        <h4 class="header"><%= __('index.projects.title') %></h4>

        <div class="row">
            <div class="col s12 m6">
                <%- partial('_partial/project_card', { prefix: 'marter' }) %>
            </div>
            <div class="col s12 m6">
                <%- partial('_partial/project_card', { prefix: 'aristeia' }) %>
            </div>
            <div class="col s12 m6">
                <%- partial('_partial/project_card', { prefix: 'mymedesp' }) %>
            </div>
            <div class="col s12 m6">
                <%- partial('_partial/project_card', { prefix: 'codestatsranking' }) %>
            </div>
            <div class="col s12 m6">
                <%- partial('_partial/project_card', { prefix: 'skrap' }) %>
            </div>
            <div class="col s12 m6">
                <%- partial('_partial/project_card', { prefix: 'avalonarena' }) %>
            </div>
            <div class="col s12 m6">
                <%- partial('_partial/project_card', { prefix: 'sstorrent' }) %>
            </div>
            <div class="col s12 m6">
                <%- partial('_partial/project_card', { prefix: 'yourvocabulary' }) %>
            </div>
            <div class="col s12 m6">
                <%- partial('_partial/project_card', { prefix: 'spideyforce' }) %>
            </div>
        </div>
    </section>
</div>

