<% const hasDefined = (value) => __(`index.projects.${prefix}.${value}`) !== `index.projects.${prefix}.${value}`; %>

<% const hasWeb = hasDefined('web'); %>
<% const hasGithub = hasDefined('github'); %>
<% const hasAndroid = hasDefined('android'); %>
<% const hasIOS = hasDefined('ios'); %>

<% const hasTechs = hasDefined('techs'); %>

<div class="card">
    <div class="card-content">
        <h5 class="card-title"><%= __(`index.projects.${prefix}.title`) %></h5>
        <% if (hasTechs) { %>
            <div class='tags'>
                <% for (const tech of __(`index.projects.${prefix}.techs`).split(',')) { %>
                    <span>#<%= tech %></span>
                <% } %>
            </div>
        <% } %>
        <p><%= __(`index.projects.${prefix}.description`) %></p>
    </div>
    <div class="card-action">
        <% if (hasWeb) { %>
            <a href="<%= __(`index.projects.${prefix}.web`) %>" class="blue-text" target="_blank">
                <i class="icon fa fa-globe"></i>
            </a>
        <% } %>

        <% if (hasAndroid) { %>
            <a
                    href="<%= __(`index.projects.${prefix}.android`) %>"
                    class="blue-text"
                    target="_blank"
            >
                <i class="icon fa fa-android"></i>
            </a>
        <% } %>

        <% if (hasIOS) { %>
            <a
                    href="<%= __(`index.projects.${prefix}.ios`) %>"
                    class="blue-text"
                    target="_blank"
            >
                <i class="icon fa fa-apple"></i>
            </a>
        <% } %>

        <% if (hasGithub) { %>
            <a
                    href="<%= __(`index.projects.${prefix}.github`) %>"
                    class="blue-text"
                    target="_blank"
            >
                <i class="icon fa fa-github-square"></i>
            </a>
        <% } %>
    </div>
</div>
